<section class="hl__footer">
	<div class="hl__footer__container">
		<div class="hl__footer__logo">
      <section class="hl__linked-image">
        <a href="https://library.harvard.edu" title="Harvard Library">
          <%= image_tag("hl-logo-vertical.png", alt: "Harvard Library logo") %>
        </a>
      </section>
		</div>
		<div class="hl__footer__links">
			<div class="hl__footer__column">
				<nav class="hl__footer-nav" aria-label="footer 1 of 2">
					<ul class="hl__footer-nav__items">
						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="mailto:maps@harvard.edu" title="Contact us"><span>Contact Us</span></a>
						</li>
						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="https://harvard.az1.qualtrics.com/jfe/form/SV_6MyQ7lfQCn69OpD" title="Report a problem or provide feedback"><span>Report a problem</span></a>
						</li>
						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="https://bit.ly/LibraryGISCanvas" title=""><span>GIS in the libraries (Canvas)</span></a>
						</li>
						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="https://library.harvard.edu/services-tools/digital-mapping-and-gis-support" title="Digital mapping and GIS support"><span>Digital mapping and GIS support</span></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="hl__footer__column">
				<nav class="hl__footer-nav" aria-label="footer 2 of 2">
					<ul class="hl__footer-nav__items">

						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="https://hollis.harvard.edu/" title="Hollis"><span>Hollis</span></a>
						</li>
						<li class="hl__footer-nav__item">
							<a class="hl__link-tag" href="https://library.harvard.edu" title=""><span>Harvard Library</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="hl__footer__content">
			<div class="hl__footer__top-links">
				<div class="hl__footer__social">
					<section class="hl__icon-list">
						<ul class="hl__icon-list__items">
							<li class="hl__icon-list__item">
								<a class="hl__icon-list__link" href="#" title="Follow us on Twitter"><span role="presentation">
									<%= render :partial => 'svg/twitter' %>
								</span></a>
							</li>
							<li class="hl__icon-list__item">
								<a class="hl__icon-list__link" href="#" title="Follow us on Facebook"><span role="presentation">
									<%= render :partial => 'svg/facebook' %>
								</span></a>
							</li>
						</ul>
					</section>
				</div>
				<div class="hl__footer__quick-links">
					<div class="hl__linked-list hl__linked-list--no-bullets">
						<ul class="hl__linked-list__items">
							<li class="hl__linked-list__item">
								<a class="hl__link-tag" href="#" title=""><span>Accessibility</span></a>
							</li>
							<li class="hl__linked-list__item">
								<a class="hl__link-tag" href="#" title=""><span>Privacy</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hl__footer__license">
				<div class="hl__footer__cc-icon">
          <%= render :partial => 'svg/cc-icon' %>
				</div>
				<div class="hl__footer__cc-text">
					Creative Commons Attribution 4.0 International License
				</div>
			</div>
			<div class="hl__footer__message">
				<section class="hl__rich-text hl__rich-text--small">
					<p>The Harvard Library CC-BY License allows ‌anyone to share and adapt library.harvard works for all purposes as long as attribution is given to "Harvard Library." <a href="#">Learn about</a> the Harvard Library CC-BY policy and the full scope of this license.</p>
				</section>
			</div>
		</div>
	</div>
</section>
<%= render partial: 'shared/analytics' %>
