<!-- NEW -->
<section class="hl__header-child">
  <h1 class="hl__header-child__title hl__header-child__title--teal">
    <a href="" title="Harvard Geospatial Library"><span>Harvard</span> Geospatial Library</a>
  </h1>
  <div class="hl__header-child__logo">
    <section class="hl__linked-image">
      <a href="https://library.harvard.edu" title="Harvard Library">
        <img class="hl__image " alt="Harvard Library Logo" height="24" width="270" src="../../assets/images/logo.svg"/>
        <%= image_tag("hl__logo-header.svg", alt: "Harvard Library logo") %>
      </a>
    </section>
  </div>
</section>


<!-- OLD -->
<!-- black bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="<%= container_classes %>">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<!-- searchbar on the catalog pages (so everywhere but the homepage)-->
<% if controller_name == 'catalog' && (has_search_parameters? || params[:action] == 'show') %>
  <div class="searchbar__wrapper" role="navigation">
    <div class="<%= container_classes %> stuff">
      <%= render_search_bar  %>
      <% if query_has_constraints? %>
        <div class="search-constraints">
          <%= render_constraints(params) %>
          <div class="facets__clearall">
            <%=link_to 'Clear All', start_over_path, :class => "", :id=>"startOverLink" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <!-- searchbar on homepage -->
  <div class='geobl-homepage-masthead jumbotron'>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h2, t('geoblacklight.home.headline'), class: 'text-center' %>
    </div>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h3, t('geoblacklight.home.search_heading'), class: 'text-center' %>
    </div>
    <div class='row justify-content-md-center'>
      <div class='col-md-6 col-sm-12'>
        <div class='searchbar__wrapper'>
          <%= render_search_bar %>
        </div>
      </div>
    </div>
  </div>
<% end %>
