<% # child theme header %>
<section class="hl__header-child">
  <div class="hl__header-child__title hl__header-child__title--teal">
    <a href="/" title="Harvard Geospatial Library"><span>Harvard</span> Geospatial Library</a>
  </div>
  <div class="hl__header-child__logo">
    <section class="hl__linked-image">
      <a href="https://library.harvard.edu" title="Harvard Library">
        <%= render :partial => 'svg/hl-logo-horizontal' %>
      </a>
    </section>
  </div>
</section>


<% # dark nav %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" aria-label="user">
  <div class="<%= container_classes %>">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>
<% # searchbar %>
<% if controller_name == 'catalog' && !(has_search_parameters? || params[:action] == 'show') %>
  <% # homepage layout on _home_text.html.erb %>
<% elsif controller_name == 'catalog' && (has_search_parameters? || params[:action] == 'show') %>
<% # search results + item detail %>
  <div class="searchbar__wrapper" role="navigation">
    <div class="<%= container_classes %>">
      <%= render_search_bar  %>
      <% if query_has_constraints? %>
        <div class="search-constraints">
          <%= render_constraints(params) %>
          <div class="facets__clearall">
            <a class="" href="/?utf8=✓&search_field=all_fields&q=">Clear All</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% # everywhere else %>
  <div class="searchbar__wrapper" role="navigation">
    <div class="<%= container_classes %>">
      <%= render_search_bar  %>
    </div>
  </div>
<% end %>
