<div class='container'>
  <div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p><button class="hl__button">Black</button>
    <button class="hl__button--blue">Blue</button>
    <button class="hl__button--outline">Outline</button>
    <button class="hl__button--small">Small</button></p>
    <p><a href="#">Link tag</a></p>
    <p><a href="#" class="dark-link">Link tag dark</a></p>
    <p><a href="#" class="more-link">Link tag with arrow</a></p>
    <p><a href="#" class="show-more">Show more button (coming soon)</a></p>
  </div>
  <div class='row text-center'>
    <div class='col-sm-7'>
      <%= content_tag :h2, t('geoblacklight.home.category_heading') %>
      <div class='row'>
        <div class='category-block col-sm'>
          <div class='category-icon'>
            <%= geoblacklight_icon('home') %>
          </div>
          <%= content_tag :h3, t('geoblacklight.home.institution') %>
          <%= render_facet_tags [Settings.FIELDS.PROVENANCE] %>
        </div>
        <div class='category-block col-sm'>
          <div class='category-icon'>
            <%= geoblacklight_icon('arrow-circle-down') %>
          </div>
          <%= content_tag :h3, t('geoblacklight.home.data_type') %>
          <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
        </div>
      </div>
      <div class='row'>
        <div class='category-block col-sm'>
          <div class='category-icon'>
            <%= geoblacklight_icon('globe') %>
          </div>
          <%= content_tag :h3, t('geoblacklight.home.placename') %>
          <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
        </div>
        <div class='category-block col-sm'>
          <div class='category-icon'>
            <%= geoblacklight_icon('tags') %>
          </div>
          <%= content_tag :h3, t('geoblacklight.home.subject') %>
          <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
        </div>
      </div>
    </div>
    <div class='col-sm-5'>
      <%= content_tag :h2, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', aria: { label: t('geoblacklight.map.label') }, data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
    </div>
  </div>
  <div id="geoblacklight-version" class="text-right">
    <%= t('geoblacklight.home.version', version: Geoblacklight::VERSION ) %>
  </div>
</div>
