<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader index-split row', data: { layer_id: document.id, geom: document.geometry.geojson } do %>

  <h3 class="index_title col-sm-9s cosl-lg-10 text-span">
    <% counter = document_counter_with_offset(document_counter) %>
    <%= link_to_document document, counter: counter %>
  </h3>

  <span class='status-icons'>
    <%= render partial: 'header_icons', locals: { document: document } %>
  </span>
<% end %>

<!-- added class 'show' so that will always be displayed -->
<div class='more-info-area'>
  <div id="doc-<%= document.id %>-fields-collapse" class='collapse show'>
    <p>
      <%= geoblacklight_present(:index_fields_display, document) %>
    </p>
  </div>
  <div class="map-thumbnail media">
    <% if document.sidecar.image.attached? %>
      <% if document.sidecar.image.variable? %>
        <%= image_tag document.sidecar.image.variant(resize: "200"), {class: 'mr-3'} %>
      <% else %>
        <%= image_tag document.sidecar.image, {class: 'mr-3'} %>
      <% end %>
    <% else %>
      <span class="icon square mr-3" title="<%=document[Settings.FIELDS.GEOM_TYPE]%>">
        <%= geoblacklight_icon(document[Settings.FIELDS.GEOM_TYPE]) %>
      </span>
    <% end %>
  </div>
</div>
