<div class="index-map-info">
  <div class="col-sm-12">
    <h3>Your selection</h3>
  </div>
  <div class="col-sm-12 index-map__table">
    {{#if thumbnailUrl}}
      {{#if websiteUrl}}
        <a href="{{websiteUrl}}" class="index-map__thumbnail">
          <img src="{{thumbnailUrl}}" class="img-responsive">
        </a>
      {{else}}
        <img src="{{thumbnailUrl}}" class="index-map__thumbnail">
      {{/if}}
    {{/if}}
    <dl class="row dl-invert document-metadata">
      {{#if title}}
      <dt class="col-sm-2">Title</dt>
      <dd class="col-sm-9 index-map__title">{{title}}</dd>
      {{/if}}
      {{#if websiteUrl}}
        <dt class="col-sm-2">Website</dt>
        <dd class="col-sm-9"><a href="{{websiteUrl}}">{{websiteUrl}}</a></dd>
      {{/if}}
      {{#if downloadUrl}}
        <dt class="col-sm-2">Download</dt>
        <dd class="col-sm-9"><a href="{{downloadUrl}}">{{downloadUrl}}</a></dd>
      {{/if}}
      {{#if recordIdentifier}}
        <dt class="col-sm-2">Call number</dt>
        <dd class="col-sm-9">{{recordIdentifier}}</dd>
      {{/if}}
      {{#if label}}
        <dt class="col-sm-2">Label</dt>
        <dd class="col-sm-9">{{label}}</dd>
      {{/if}}
      {{#if note}}
        <dt class="col-sm-2">Note</dt>
        <dd class="col-sm-9 index-map__note">{{note}}</dd>
      {{/if}}
    </dl>
  </div>
  <div class="index-map__close">
    <button class="index-map__close--btn">
      Close index explorer
    </button>
  </div>
</div>
